{% extends 'base_admin.html' %}
{% load static %}


{% block title %}
    Pregled clanova
{% endblock title %}


{% block headline %}
{% endblock headline %}


{% block content %}
    <div class="my-5" id="admin_tables">

        <table class="text-center table table-striped table-light table-hover">

            <thead>
                <tr>
                    <th colspan="7"><h5>Pregled clanova</h5></th>
                </tr>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Korisničko ime</th>
                    <th>Imejl adresa</th>
                    <th>Telefon</th>
                    <th>Datum kreiranja</th>
                    <th>Obriši</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Jovana</td>
                    <td>Jovanović</td>
                    <td><a href="#">jodzi</a></td>
                    <td>jovana@gmail.com</td>
                    <td>060/123-456</td>
                    <td>10.08.2023.</td>
                    <td><i class="btn btn-secondary bi bi-trash"></i></td>
                </tr>

                <tr>
                    <td>Petar</td>
                    <td>Petrović</td>
                    <td><a href="#">pera_zdera</a></td>
                    <td>pera@yahoo.com</td>
                    <td>067/123-456</td>
                    <td>10.08.2023.</td>
                    <td><i class="btn btn-secondary bi bi-trash"></i></td>
                </tr>
            </tbody>

        </table>

    </div>

    <br><br>

{% endblock content %}