{% extends 'base.html' %}
{% load static %}


{% block title %}
    Treninzi
{% endblock title %}


{% block headline %}
    <div class="my-5 mx-5">
        <h4>Teretana i dodatni sadržaji</h4>
    </div>
{% endblock headline %}


{% block content %}

  <div class="d-flex flex-wrap align-content-between justify-content-between mx-5">
 
    <div class="card mb-3" style="max-width: 54rem;">

      <div class="row g-0">

        <div class="col-md-6">
          <img src="{% static 'images/gym.png' %}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Teretana</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dignissimos tempore accusamus quidem non nihil et, natus ea laudantium fuga beatae sed id minus ullam adipisci? Sint, repudiandae reiciendis.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Više informacija</a>
          </div>
        </div>

      </div>

    </div>


    <div class="card mb-3" style="max-width: 54rem;">

      <div class="row g-0">

        <div class="col-md-6">
          <img src="{% static 'images/personal.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Personalni trening</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dignissimos tempore accusamus quidem non nihil et, natus ea laudantium fuga beatae sed id minus ullam adipisci? Sint, repudiandae reiciendis.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Više informacija</a>
          </div>
        </div>

      </div>

    </div>


    <div class="card mb-3" style="max-width: 54rem;">

      <div class="row g-0">

        <div class="col-md-6">
          <img src="{% static 'images/massage.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Masaže</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dignissimos tempore accusamus quidem non nihil et, natus ea laudantium fuga beatae sed id minus ullam adipisci? Sint, repudiandae reiciendis.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Više informacija</a>
          </div>
        </div>

      </div>

    </div>


    <div class="card mb-3" style="max-width: 54rem;">

      <div class="row g-0">

        <div class="col-md-6">
          <img src="{% static 'images/fit_kids.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Fitnes za decu</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dignissimos tempore accusamus quidem non nihil et, natus ea laudantium fuga beatae sed id minus ullam adipisci? Sint, repudiandae reiciendis.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Više informacija</a>
          </div>
        </div>

      </div>

    </div>


    <div class="card mb-3" style="max-width: 54rem;">

      <div class="row g-0">

        <div class="col-md-6">
          <img src="{% static 'images/self-defense.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Časovi samoodbrane</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dignissimos tempore accusamus quidem non nihil et, natus ea laudantium fuga beatae sed id minus ullam adipisci? Sint, repudiandae reiciendis.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Više informacija</a>
          </div>
        </div>

      </div>

    </div>


    <div class="card mb-3" style="max-width: 54rem;">

      <div class="row g-0">

        <div class="col-md-6">
          <img src="{% static 'images/salsa.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Časovi plesa</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, incidunt dignissimos tempore accusamus quidem non nihil et, natus ea laudantium fuga beatae sed id minus ullam adipisci? Sint, repudiandae reiciendis.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Više informacija</a>
          </div>
        </div>

      </div>

    </div>

  </div>

  <br><br>
  
{% endblock content %}