{% extends 'base.html' %}
{% load static %}


{% block title %}
    Početna
{% endblock title %}


{% block headline %}
    <div class="my-5 mx-5">
        <h4>Dobro došli</h4>
    </div>
{% endblock headline %}


{% block content %}
    <div class="my-5 mx-5">
        <h5>Veliki izbor grupnih fitnes programa</h5>
        <h5>Personalni treninzi</h5>
        <h5>Onlajn trenizi</h5>
        <h5>Samostalno vežbanje u teretani</h5>
        <h5>Iskusni instruktori pomoći će vam da ostvarite vaše fitnes ciljeve</h5>
        <h5>Konsultacije u vezi sa ishranom</h5>
        <h5>Dodatni sadržaji</h5>
        <br>
        <h5>Pridružite se onlajn grupi i ostvarite popuste</h5>
        <h5>Nabavite fitnes rekvizite po najpovoljnijim cenama</h5>
    </div>

    <br><br>

{% endblock content %}
