{% extends 'base.html' %}
{% load static %}


{% block title %}
    Instruktori
{% endblock title %}


{% block headline %}
    <div class="my-5 mx-5">
        <h4>Naš tim</h4>
    </div>
{% endblock headline %}


{% block content %}

<div class="d-flex flex-wrap align-content-between justify-content-between my-5 mx-5">

    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_woman.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Daca</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Daca</h4> 
                <p>licencirani Zumba instruktor</p>

                <ul>
                    <li>Zumba</li>
                    <li>Step aerobik</li>
                    <li>Pilates</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>


    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_woman.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Ceca</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Ceca</h4> 
                <p>sertifikovani joga instruktor</p>

                <ul>
                    <li>Joga</li>
                    <li>Pilates</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>


    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_woman.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Mica</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Mica</h4> 
                <p>licencirani Les Mills instruktor</p>

                <ul>
                    <li>Sh'bam</li>
                    <li>Body Jam</li>
                    <li>Body Pump</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>


    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_woman.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Goca</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Goca</h4> 
                <p>sertifikovani Pilates instruktor</p>

                <ul>
                    <li>Pilates</li>
                    <li>Tabata</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>


    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_man.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Đole</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Đole</h4> 
                <p>viši sportski trener</p>

                <ul>
                    <li>Cardio boxing</li>
                    <li>TBW</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>


    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_man.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Sale</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Sale</h4> 
                <p>profesor fizičke kulture</p>

                <ul>
                    <li>Zdravstveni qigong</li>
                    <li>Časovi samoodbrane</li>
                    <li>Funkcionalni trening</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>
    

    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_man.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Žile</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Žile</h4> 
                <p>viši sportski trener</p>

                <ul>
                    <li>Cardio boxing</li>
                    <li>Personalni trening</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>


    <div class="flip-card p-3">
        <div class="flip-card-inner">

            <div class="flip-card-front">

                <div class="card">
                    <img src="{% static 'images/fit_man.png' %}" class="card-img-top" alt="instructor">
                    <div class="card-body">
                        <h5 class="card-title">Dule</h5>
                    </div>
                </div>
            </div>
            
            <div class="flip-card-back">
                <h4 class="pt-5">Dule</h4> 
                <p>profesor fizičke kulture</p>

                <ul>
                    <li>Personalni trening</li>
                    <li>Funkcionalni trening</li>
                </ul>
                
                <div class="bi">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-stars" style="font-size: 1.3rem;"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="bi bi-envelope" style="font-size: 1.3rem;"></i></button>
                </div>
            </div>

        </div>
    </div>
    
</div>

<br><br>

{% endblock content %}