{% extends 'base.html' %}
{% load static %}


{% block title %}
    Raspored treninga
{% endblock title %}


{% block headline %}
    <div class="my-5 mx-5">
        <h4>Raspored treninga</h4>
    </div>
{% endblock headline %}


{% block content %}

    <div class="d-flex justify-content-between mx-5">

        <table class="text-center table table-striped table-secondary table-hover">
            <thead>
                <tr>
                    <th colspan="7">Grupni treninzi u sali</th>
                </tr>
                <tr>
                    <th>Vreme</th>
                    <th>Ponedeljak</th>
                    <th>Utorak</th>
                    <th>Sreda</th>
                    <th>Četvrtak</th>
                    <th>Petak</th>
                    <th>Subota</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>08:30</td>
                    <td>Tabata</td>
                    <td>Tabata</td>
                    <td>Tabata</td>
                    <td>Tabata</td>
                    <td>Tabata</td>
                    <td>Tabata</td>
                </tr>
    
                <tr>
                    <td>09:00</td>
                    <td>Zdravstveni Qigong</td>
                    <td>Funkcionalni trening</td>
                    <td>Zdravstveni Qigong</td>
                    <td>Funkcionalni trening</td>
                    <td>Zdravstveni Qigong</td>
                    <td>Funkcionalni trening</td>
                </tr>

                <tr>
                    <td>10:00</td>
                    <td>Pilates</td>
                    <td>Joga</td>
                    <td>Pilates</td>
                    <td>Joga</td>
                    <td>Pilates</td>
                    <td>Joga</td>
                </tr>

                <tr>
                    <td>...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>18:00</td>
                    <td>Cardio boxing</td>
                    <td>Step aerobik</td>
                    <td>Cardio boxing</td>
                    <td>Step aerobik</td>
                    <td>Cardio boxing</td>
                    <td>Step aerobik</td>
                </tr>

                <tr>
                    <td>19:00</td>
                    <td>Zumba</td>
                    <td>Pilates</td>
                    <td>Zumba</td>
                    <td>Pilates</td>
                    <td>Zumba</td>
                    <td>Pilates</td>
                </tr>

                <tr>
                    <td>20:00</td>
                    <td>Funkcionalni trening</td>
                    <td>Spinning</td>
                    <td>Funkcionalni trening</td>
                    <td>Spinning</td>
                    <td>Funkcionalni trening</td>
                    <td>Spinning</td>
                </tr>

                <tr>
                    <td>21:00</td>
                    <td>Les Mills Body Pump</td>
                    <td>Les Mills Sh'bam</td>
                    <td>Les Mills Body Pump</td>
                    <td>Les Mills Sh'bam</td>
                    <td>Les Mills Body Pump</td>
                    <td>Les Mills Sh'bam</td>
                </tr>

            </tbody>
        </table>

    </div>

    <br><br>

    <div class="d-flex justify-content-between mx-5">

        <table class="text-center table table-striped table-light table-hover">

            <thead>
                <tr>
                    <th colspan="7">Grupni treninzi onlajn</th>
                </tr>
                <tr>
                    <th>Vreme</th>
                    <th>Ponedeljak</th>
                    <th>Utorak</th>
                    <th>Sreda</th>
                    <th>Četvrtak</th>
                    <th>Petak</th>
                    <th>Subota</th>
                </tr>
            </thead>

            <tbody>
    
                <tr>
                    <td>09:00</td>
                    <td>Joga</td>
                    <td>Zdravstveni Qigong</td>
                    <td>Pilates</td>
                    <td>Joga</td>
                    <td>Zdravstveni Qigong</td>
                    <td>Pilates</td>
                </tr>

                <tr>
                    <td>...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>20:00</td>
                    <td>Zumba</td>
                    <td>Pilates</td>
                    <td>Funkcionalni trening</td>
                    <td>Zumba</td>
                    <td>Pilates</td>
                    <td>Funkcionalni trening</td>
                </tr>

            </tbody>
    
        </table>

    </div>

    <br><br>
    
{% endblock content %}