{% extends 'base.html' %}
{% load static %}


{% block title %}
    E-prodavnica
{% endblock title %}


{% block headline %}
    <div class="my-5 mx-5">
        <h4>E-prodavnica</h4>
    </div>
{% endblock headline %}


{% block content %}

    <div class="my-5 mx-5">
        <p class="h1">Uskoro</p>
        <p class="h2">Uskoro</p>
        <p class="h3">Uskoro</p>
        <p class="h4">Uskoro</p>
        <p class="h5">Uskoro</p>
        <p class="h6">Uskoro</p>
    </div>
    
    <br><br>
    
{% endblock content %}
